html,
body,
#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: 'roboto', 'Times New Roman', 'Times', 'serif';
}
p {
  margin: 10px;
}
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: #0d8abc;
}
#logo {
  width: 250px;
  height: auto;
}
#searchContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  width: 50%;
}
#search {
  margin-bottom: 1%;
}
#searchButton {
  width: 15%;
  margin-bottom: 10px;
}
#searchInput {
  height: 30px;
  width: 100%;
  padding-left: 20px;
  margin-top: -10px;
  margin-bottom: 5px;
  border-radius: 200px;
  box-shadow: 2px 4px 5px lightslategrey;
  border: 1px solid lightslategray;
  background-color: #f8f8f8;
}
#searchInput:focus {
  outline: none;
  border: 1px solid #bb0d6c;
}
#searchButtonContainer {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 7px;
}
#searchButton {
  width: 145px;
  box-shadow: 2px 4px 5px lightslategrey;
}
#mainContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.3%;
  width: 62%;
  height: 70%;
}
#navBar {
  display: flex;
  flex-direction: row;
  height: fit-content;
}
#tabsContainer {
  border-top-right-radius: 22px;
  border-top-left-radius: 22px;
  height: -webkit-fill-available;
  width: -webkit-fill-available;
  background-color: #124e96;
}

.MuiButtonBase-root:focus {
  /* background: #0f407c; */
}
.MuiTab-wrapper {
  color: whitesmoke;
  font-size: 20;
}
.MuiButtonBase-root.MuiTab-root.MuiTab-textColorPrimary.Mui-selected {
  padding: 0;
}
.tab {
  height: -webkit-fill-available;
  width: 50%;
}
#productionContainer {
  display: flex;
  flex-direction: row;
  height: -webkit-fill-available;
  width: -webkit-fill-available;
  background-color: #f8f8f8;
}
#schemaBuilderContainer {
  display: flex;
  flex-direction: row;
  width: -webkit-fill-available;
}
#codeOutput {
  display: flex;
  flex-direction: column;
  width: -webkit-fill-available;
  background-color: #f8f8f8;
  overflow: auto;
}
#dataViewContainer {
  display: flex;
  flex-direction: column;
  width: 50%;
  max-height: 775px;
  background-color: #f8f8f8;
}
#dataView {
  background-color: whitesmoke;
  margin: 0 0 20px 20px;
  padding: 10px;
  border: 1px solid gray;
  border-radius: 40px;
  height: 80%;
  overflow: auto;
}
#loadSpinner {
  margin-top: 30%;
  margin-left: 43%;
}
#formContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
  max-height: 745px;
  background-color: #f8f8f8;
}
#form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: auto;
}
#formSubmit {
  height: 4%;
  width: 30%;
  margin-top: 3%;
}
h1 {
  font-family: 'Oswald', sans-serif;
  color: #f8f8f8;
  text-shadow: 3px 1px #000000cf;
  font-size: 40px;
  letter-spacing: 5px;
}
/* header: https://www.w3schools.com/howto/howto_css_style_header.asp */
.sbTitle {
  margin: 0px;
  margin-bottom: 16px;
  padding: 8px;
  text-align: center;
  color: grey;
  font-size: 30px;
  font-weight: 500;
}
#dataViewTitle {
  margin-bottom: 0;
}
#inputContainer {
  padding: 10px;
}
.fieldTypes,
.fieldNames,
.objectType {
  border: none;
  border-bottom: 1px solid;
  margin-bottom: 10px;
  margin-left: 20px;
  background-color: #f8f8f8;
  font-size: medium;
}

.formSwitch {
  color: grey;
  margin-bottom: 10px;
  margin-left: 20px;
}

.fieldTypes:focus,
.fieldNames:focus,
.objectType:focus {
  outline: none;
  border-bottom: 2px solid #ff008e;
}

/* Material UI is weird - this edits the field input boxes */
.MuiFormControl-root.formControl {
  margin-right: 15px;
}
.MuiInputBase-root.MuiInput-root.MuiInput-underline.MuiInputBase-formControl.MuiInput-formControl {
  width: 150px;
  margin-bottom: 15px;
  color: #ff008e;
}
#addNewField {
  margin-top: 15px;
  margin-left: 20px;
}
#formSubmit {
  height: auto;
  width: auto;
  margin-left: 20px;
}

#submitContainer {
  display: flex;
  justify-content: flex-end;
  margin: 25px;
  margin-top: 0;
}

#productionContainer {
  border-bottom-right-radius: 22px;
  border-bottom-left-radius: 22px;
  box-shadow: 10px 10px 15px lightslategray;
  height: 75%;
  overflow: auto;
}
#display {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  width: 100%;
}

#copyOutputContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: 25px;
}
