  /* for reference: https://stackoverflow.com/questions/38428322/react-component-full-screen-with-height-100 */
  html, body, #root {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: 'roboto', 'Times New Roman', 'Times', 'serif'; 
  }
  p {
    margin: 10px;
  }
  .App {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    /* margin: 1%; */
    /* border: 1px solid black; */
    background-color: #0d8abc;
  }
  #searchContainer {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    width: 50%;
  }
  #search {
    margin-bottom: 1%;
  }
  #searchButton {
    width: 15%;
    margin-bottom: 10px;
  }
  #searchInput {
    height: 30px;
    width: 100%;
    padding-left: 20px;
    margin-bottom: 5px;
    border-radius: 200px;
    box-shadow: 2px 4px 5px lightslategrey;
    border: 1px solid lightslategray;
    background-color: #F8F8F8;
    /* background-image: url('../public/searchicon.png');
    background-position: 10px 10px;
    background-repeat: no-repeat; */
  }
  #searchInput:focus {
    outline: none;
    border: 1px solid #bb0d6c;
  }
  #searchButtonContainer {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 7px;
  }
  #searchButton {
    width: 145px;
    box-shadow: 2px 4px 5px lightslategrey;
  }
  #mainContainer {
    display: flex;
    flex-direction: column;
    box-shadow: 5px 10px 15px lightslategrey;
    width: 1300px;
    max-width: 1300px;
    height: 800px;
  }
  #navBar {
    display: flex;
    flex-direction: row;
    height: 7%;
  }
  #tabsContainer {
    height: -webkit-fill-available;
    width: -webkit-fill-available;
    background-color: #124e96;
  }
  
  .MuiButtonBase-root:focus {
    /* background: #0f407c; */
  }
  .MuiTab-wrapper {
    color: whitesmoke;
    font-size: 20;
  }
  .MuiButtonBase-root.MuiTab-root.MuiTab-textColorPrimary.Mui-selected {
    padding: 16px 12px;
  }
  .tab {
    height: -webkit-fill-available;
    width: 50%;
  }
  #productionContainer {
    display: flex;
    flex-direction: row;
    height: -webkit-fill-available;
    width: -webkit-fill-available;
    background-color: #F8F8F8;
    /* border: 5px solid purple; */
  }
  #schemaBuilderContainer {
    display: flex;
    flex-direction: row;
    width: -webkit-fill-available;
    /* border: 5px solid orange; */
  }
  #codeOutput {
    display: flex;
    flex-direction: column;
    width: -webkit-fill-available;
    /* border: 5px solid brown; */
    background-color: #F8F8F8;
  }
  #dataViewContainer {
    display: flex;
    flex-direction: column;
    width: 50%;
    max-height: 775px;
    border-right: 1px solid gray;
    background-color: #F8F8F8;
  }
  #dataView {
    overflow: auto;
  }
  #loadSpinner {
    margin-top: 30%;
    margin-left: 43%;
  }
  #formContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    max-height: 745px;
    background-color: #F8F8F8;
  }
  #form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: auto;
  }
  #formSubmit {
    height: 4%;
    width: 30%;
    margin-top: 3%;
  }
  h1 {
    font-family: 'Oswald', sans-serif;
    color: #F8F8F8;
    text-shadow: 3px 1px #000000cf;
    font-size: 40px;
    letter-spacing: 5px;
  }
  /* header: https://www.w3schools.com/howto/howto_css_style_header.asp */
  .sbTitle {
    margin: 0px;
    margin-bottom: 16px;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    padding: 8px;
    text-align: center;
    background-color: #cce4f7;
    color: grey;
    font-size: 30px;
    font-weight: 500;
  }
  #dataViewTitle {
    border-right: 1px solid gray;
  }
  #inputContainer {
    padding: 10px;
  }
  .fieldTypes, .fieldNames, .objectType {
    border: none;
    border-bottom: 1px solid;
    margin-bottom: 10px;
    margin-left: 20px;
    background-color: #F8F8F8;
    font-size: medium;
  }

  .formSwitch {
    color: grey;
    margin-bottom: 10px;
    margin-left: 20px;
  }

  .fieldTypes:focus, .fieldNames:focus, .objectType:focus {
    outline: none;
    border-bottom: 2px solid #ff008e;
  }

  /* Material UI is weird - this edits the field input boxes */
  .MuiFormControl-root.formControl {
    margin-right:15px;
  }
  .MuiInputBase-root.MuiInput-root.MuiInput-underline.MuiInputBase-formControl.MuiInput-formControl {
    width: 150px;
    margin-bottom: 15px;
    color: #ff008e
  }
  #addNewField {
    margin-top: 10px;
    margin-left: 20px;
  }
  #formSubmit {
    height: auto;
    width: auto;
    margin-left: 20px;
  }

  #submitContainer {
    display: flex;
    justify-content: flex-end;
    margin: 20px;
    margin-top: 0;
  }

  #productionContainer {
    overflow: auto;
  }

  .display {
    /* max-width: 100px;
    font-family: 'roboto', 'Times New Roman', 'Times', 'serif'; */
    margin:10px
  }